helion-code-block {
	display: block;
}

helion-code-block, .helion-code-block {
	background: var(--helion-color-altSurface-background);
	color: var(--helion-color-altSurface-foreground);
	font-family: var(--helion-monospaceFontFamily);
	
	padding: .5em;
	overflow: auto;
}