helion-panel {
	display: block;
}

helion-panel, .helion-panel {
	background: var(--helion-color-surface-background);
	color: var(--helion-color-surface-foreground);

	box-shadow: var(--helion-shadow);
}