helion-card {
	display: block;
}

helion-card, .helion-card {
	background: var(--helion-color-surface-background);
	color: var(--helion-color-surface-foreground);

	border-radius: var(--helion-card-cornerRadius);
	box-shadow: var(--helion-shadow);
}