:root[helion-theme=dark] {
	--helion-color-backdrop-background: #333;

	--helion-color-surface-background: #222;
	--helion-color-surface-foreground: #fff;

	--helion-color-altSurface-background: #333;

	--helion-color-bar-background: #444;
}