.helion-filled-button {
	font: inherit;
	color: inherit;
	line-height: 100%;
	
	padding: .75em;
	
	border: none;
	border-radius: .2em;
	outline: none;
	overflow: hidden;

	background-color: var(--helion-color-contrast-background);
	color: var(--helion-color-contrast-foreground);

	transition: background-color .1s ease;

	&:disabled {
		opacity: .7
	}
	
	&:not(:disabled) {
		cursor: pointer;

		// TODO: Replace when relative color is supported.
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: currentColor;
			opacity: 0;
			transition: opacity .1s ease;
			will-change: opacity;
		}
	
		&:hover::before,
		&:focus-visible::before {
			opacity: .15;
		}
		
		&:active::before {
			opacity: .3;
		}
	}
}